.cards__pic {
    position: relative;
    background-color: #F6F5F5;
    text-align: center;
    height: 100%;
    align-items: center;
    display: flex;
    max-height: 405px;
    overflow: hidden;
}